# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Pertemuan 01/HalloDunia/nbproject/private/
/Pertemuan 01/HalloDunia/build/
/Pertemuan 04/RandomEx/nbproject/private/
/Pertemuan 04/RandomEx/build/
/Pertemuan 04/MathEx/nbproject/private/
/Pertemuan 04/MathEx/build/
/Practice 4/ProblemSet4_1/UsingMethods/build/
/Practice 4/ProblemSet4_1/UsingMethods/nbproject/private/
/Practice 4/ProblemSet4_2/ProcessingName/nbproject/private/
/Practice 4/ProblemSet4_2/ProcessingName/build/
/Practice 2/ProblemSet2_2/build/
/Practice 2/ProblemSet2_2/nbproject/private/
/Pertemuan 03/Variables02/build/
/Pertemuan 03/Variables02/nbproject/private/
/Pertemuan 03/Variables03/build/
/Pertemuan 03/Variables03/nbproject/private/
/Pertemuan 03/Chickens01/build/
/Pertemuan 03/Chickens01/nbproject/private/
/Pertemuan 01/pertemuan 10/nbproject/private/
/Pertemuan 01/pertemuan 10/build/
/Pertemuan 01/SavingsAccount/nbproject/private/
/Pertemuan 01/PrisonerTest/nbproject/private/
/Pertemuan 01/PrisonerTest/build/
/JFO Section 7/JFO 7-1/nbproject/private/
/JFO Section 7/JFO 7-1/build/
/JFO Section 7/jfo7.1/nbproject/private/
/JFO Section 7/jfo7.1/build/
/Pertemuan 04/Input01/build/
/Pertemuan 04/Input01/nbproject/private/
/Pertemuan 04/Input01/dist/
/Practice 8/Practice8/nbproject/private/
/Practice 8/Practice8/build/
/Practice 7/Practice7/nbproject/private/
/Practice 7/Practice7/build/
/Practice 7/Practice7/dist/
